{% capture badges_html %}
  {% for tag in product.tags %}
    {% assign tag_handle = tag | downcase %}

    {% case tag_handle %}
      
      {% when 'highly rated' %}
        <div class="flex gap-1 bg-background p-2 body-medium text-foreground rounded-sm">
          {% render 'icon-star', fill: '#111111', class: 'w-5 h-5' %} <span>Highly Rated</span>
        </div>

      {% when 'new' %}
        <div class="bg-blue-600 text-white flex gap-1 p-2 body-medium rounded-sm">
          <span>New</span>
        </div>

      {% when 'sale' %}
        <div class="bg-red-600 text-white flex gap-1 p-2 body-medium rounded-sm">
          <span>Sale</span>
        </div>

    {% endcase %}
  {% endfor %}
{% endcapture %}

{% if badges_html != blank %}
  <div class="z-10 flex gap-2 items-start pointer-events-none {{ class }}">
    {{ badges_html }}
  </div>
{% endif %}
